@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********************NAVBAR**************************/

body{
    background-color: #F8F5FF;
}


.logo img {
    width: 100px;
    height: 80px;
}

.navbar{
    background-color: #F8F5FF;
}

/* .navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20px;
} */

.nav-item a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2.5vw;
    font-size: 2rem;
}

.nav-item a:hover {
    color: #5e2ced;
    text-decoration: none;
}

#mlh-logo{
    width: 100%;
    margin-left: 20%;
}

.listbuttons {
    align-items: center;
}

/************************ Banner ****************************/

.home_container {
    width: 100%;
    /* height: 100vh; */
    background: rgba(31, 38, 49, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:12rem;
}

.banner-parallax{
    background-image: url("https://github.com/ayushgupta0110/hackCBS5.0/blob/main/assets/images/dark-bg-img.jpg?raw=true");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_main-text {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.home_hackCBS>h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14vw;
    line-height: 230px;
    color: #F8F5FF;
}

.home_hackCBS .text {
    width: fit-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 43px;
    color: #F8F5FF;
    margin-top: -35px;
    padding-left: 0.8rem;
}

.home_hackCBS>h1>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16vw;
    /* line-height: 346px; */
    padding-left: 1.5rem;
    background: linear-gradient(65.7deg, #FC5FD9 9.76%, #A481EF 40.43%, #8D5DF5 87.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
}

.home_date-container p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    /* line-height: 47px; */
    color: #F8F5FF;
    margin-top: 15%;
}

.home_button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.home_date-container .fa-calendar{
    font-size: 3vw;
}


.button-register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.9rem 4rem;
    color: #FFFFFF;
    /* background: linear-gradient(45deg, #f87bdd, #ff69de, #ee36ff, #b51afd, #891bff, #a824ff); */
    background: linear-gradient(92.48deg, #FC5FD9 0.26%, #8D5DF5 39.81%, rgba(141, 93, 245, 0.5) 91.19%);
    border-radius: 12px;
    border: none !important;
    margin-right: 4rem;
}

.button-discord {
    /* display: flex; */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7rem 3rem;
    color: #FFFFFF;
    background: #1F2631;
    border-radius: 12px;
    border: 3px #cb5ee5 solid;
}

.banner-button-style{
    border: none;
    border: 3px #cb5ee5 solid;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.banner-button-style:before{
    content: '';
    background: linear-gradient(45deg, #ff5cdc, #ff59db, #ea00ff, #9d06e2, #6f0bda, #8e11e2, #ea00ff, #ff43d6, #ff87e5);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 20s linear infinite;
    transition: opacity .1s ease-in-out;
    border-radius: 10px;
}

.banner-button-style:active{
    color: white;
}

.banner-button-style:active:after{
    background: transparent;
}

.banner-button-style:hover:before{
    opacity: 1;
}

.banner-button-style:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1F2631;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-register:after {
    background: transparent;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/************************ about us  ****************************/

.section {
    width: 100%;
    /* height: 130vh; */
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 62px;
    font-size: 11rem;
}

.about-heading>h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3.75vw;
    /* line-height: 76px; */
    color: #131314;
}

.article {
    width: 80%;
    /* display: inline-block; */
    padding: 29px 0px;
    margin-left: 45px;
}

.about-us-section-content-container {
    display: flex;
}

.container .title {
    width: 100%;
    /* text-align: center; */
    margin-bottom: 50px;
}

.container .title h1 {
    font-size: 35px;
    color: #23231e;
}

.content {
    float: left;
    width: 60%;
    padding-left: 70px;
    position: relative;
}

.para1 .para2 .para3 {
    margin-bottom: 10%;
}

.img-section {
    float: right;
    width: 40%;
    margin: -5rem;
}

.img-section img {
    width: 100%;
    /* height: auto; */
    height: 110vh;
}

.content .article p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 21px;
    text-align: justify;
}

.content .article .second p {
    margin-left: 40px;
}

.second {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.second h2 {
    font-weight: 600;
}

.second .sq {
    background: rgb(175, 103, 226);
    border-radius: 25%;
    width: 26px;
    height: 26px;
    margin-top: 3px;
}

.subpart {
    display: flex;
    justify-content: space-around;
    width: 110px;
}

.subpart h2 {
    color: #1F2631;
    font-size: 2.5rem;
}

.second p {
    margin-left: 50px;
    /* font-size: 30px; */
}

.date {
    margin-left: 20%;
}
/*********************STATS*******************/

.about-us-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.stat {
    display: flex;
    flex-direction: column;
}

.stat-image {
    text-align: center;
}

lord-icon {
    height: 12rem;
    width: 12rem;
}

.stats-text {
    /* position: relative; */
    /* z-index: 1; */
    /* top:173px; */
    color: #1f2631;
    text-align: center;
    /* padding: 1rem; */
}

.stats-text span {
    color: #3282b8;
}
/************************ cards ****************************/

.card-heading {
    /* position: absolute; */
    margin: 10px 0px 10px;
    padding-top: 5%;
}

.cards {
    margin: 0 auto 10% auto;
    position: static;
    padding: 40px 5% 0 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    row-gap: 4rem;
}

.card {
    width: 80%;
    background: linear-gradient(159.8deg, #F8F5FF 0%, #F0E9FF 88.57%);
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.25);
    border: none;
}

.card:hover {
    box-shadow: 2px 2px 20px black;
}

.card-img {
    text-align: center;
}

.card-img img {
    object-fit: cover;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
}

.card-info {
    text-align: center;
    font-size: large;
    margin-bottom: 5%;
}

.card-info p {
    color: #1F2631;
}

.card-info img {
    width: 30%;
}

.card_title {
    margin: 10px;
    margin-bottom: 0;
    color: #1F2631;
    font-size: 2.7rem;
}
/* ***************** GLIMPSES ****************** */

.parallax {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/ayushgupta0110/hackCBS5.0/main/assets/images/glimpse-1.png");
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glimpses-section {
    padding: 6rem 0;
    background: rgba(31, 38, 49, 0.85);
}

.side-decorator {
    display: flex;
    flex-direction: column;
    row-gap: 0.7vh;
    justify-content: center;
}

#decorator-headings {
    display: flex;
    flex-direction: row;
    column-gap: 3.75vw;
}

#purple-decorator>* {
    background: #B492FF;
    border-radius: 0px 50px 50px 0px;
}

#pink-decorator>* {
    background: #FC5FB0;
    border-radius: 0px 50px 50px 0px;
}

#rect-1 {
    width: 7vw;
    height: 1.2vw;
}

#rect-2 {
    width: 5vw;
    height: 1.1vw;
}

#rect-3 {
    width: 6vw;
    height: 1.2vw;
}

.glimpse-heading>h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    color: #F8F5FF;
}

.glimpses_container1 {
    padding: 50px;
}

.glimpses_container2 {
    /* background-color: #1F2631; */
    padding-left: 10%;
}

.glimpses_container2 .active {
    width: 90%;
}

.active img {
    border-radius: 10px;
}
/* ***************** WORKSHOPS ****************** */

.workshop {
    background-color: #1B262C;
    /* background: rgba(31, 38, 49, 0.9); */
    padding-top: 6rem;
}

.workshop-card-container {
    padding: 12vh 8vw;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 4%;
    /* column-gap   : 2%; */
}

.workshop-card {
    width: 23vw;
    height: 32vw;
    border-radius: 1.2vw;
    box-shadow: 0px 4px 25px 3px rgba(0, 0, 0, 0.25);
    background: linear-gradient(159.8deg, #F8F5FF 0%, #d6c6f8 88.57%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 1vw    ;
    margin: 0 auto;
}

#workshop-card-title{
    padding-top: 0.5vw;
}

#workshop-card-title>h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1vw;
    margin-bottom: 0;
    color: #1F2631;
}

#workshop-card-text {
    margin: 5px auto auto 5px;
}

#workshop-card-text>h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 2vw;
    /* margin-bottom: 20px; */
    color: #5F5B65;
}

#workshop-timing {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: -59%;
}
#workshop-timing span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    /* line-height: 4vh; */
    color: #5F5B65;
}

.fa-calendar, .fa-clock{
    font-size: 1vw;
}

.workshop-card>a {
    margin-top: auto
}
#workshop-card-img img {
    height: 11vw;
    width: 21vw;
}

#workshop-card-button {
    background: #f74ca4;
    border-radius: 1vw;
    text-align: center;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}
#workshop-card-button>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    color: #F3EDFF;
}
#workshop-card-button:hover {
    background-color: #ee3192;
    text-decoration: none;
}
/****************************Themes*************** */

.container-themes {
    margin-top: 2vw;
}
/****************************prizes*************** */

.prize-cards {
    margin-left: 76px;
    position: static;
    padding-top: 5%;
    display: grid;
    row-gap: 51px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    /* grid-gap: 30px; */
    margin-bottom: 7%;
}

.prize {
    width: 85%;
    text-align: center;
    height: 91%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 35px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.25);
    transition: 0.8s ease;
}

.prize:hover {
    box-shadow: 2px 2px 20px black;
}

.prize-img img {
    border: 18px solid rgb(241, 46, 199);
    object-fit: fill;
    border-radius: 50%;
    margin-top: -50px;
    /* margin-left: 35px; */
    width: 170px;
    height: 170px;
}

.prize-info {
    /* text-align: center; */
    /* padding: 4px; */
    margin-left: 20px;
    font-size: large;
    margin-top: 37px;
}

.prize-info img {
    width: 30%;
}

.prize_title {
    margin-bottom: 8px;
    font-weight: 700;
    color: #000;
}

.prize-info button {
    margin: 20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    background: rgb(241, 46, 199);
    color: white;
    border-radius: 12px;
    font-size: 20px;
    /* transition: 0.8s; */
}

.card2:hover,
.card1:hover,
.card3:hover
{
    animation: float 1s ease-in-out infinite;
    /* background: #000; */
    }

    @keyframes float {
        0% {
            /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
            transform: translatey(0px);
        }
        50% {
            /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
            transform: translatey(-20px);
        }
        100% {
            /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
            transform: translatey(0px);
        }
    }

.prize-heading {
    display: flex;
    font-size: 5vh;
}

.prize-heading p {
    font-size: 35px;
    font-weight: 700;
    margin: 19px;
    line-height: normal;
    height: 28px;
}

.prize-heading .heading {
    margin-left: 12px;
    height: 100px;
}

.prize-heading img {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
}

.prize:hover .prize-img img{
    transform: rotate(360deg);
    transition: transform 0.8s;
}

.speaker-links {
    position: absolute;
    bottom: -105px !important;
    width: 100%;
    border-radius: 15px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    backdrop-filter: blur(15px);
    visibility: hidden;
    flex-direction: column;
    /* box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    transition: 0.3s ease-in-out ;
  }



  .speaker-links .spklinks {
    position: relative;
    display: flex;
    padding: 0;
  }

 .spklinks li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    /* transition: 0.5s; */
    opacity: 0;
    /* transition-delay: calc(0.2s*var(--i)); */
  }

 .spklinks li {
  transform: translateY(0px);
  opacity: 1;
}

 .spklinks li a {
    color: #000;
    font-size: 24px;
  }

  .card:hover .speaker-links {
    bottom: 0px !important;
    z-index: 1;
    visibility: visible;
}
/****************SCHEDULE*********************/

.schedule{
    width: 100%;
    display: none;
}
.schedule-laptop{
    width: 100%;
}
/** ***************** OUR SPONSORS *****************  */

.sponsor-section {
    margin-top: 6rem;
}

.major-sponsors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5vw;
    column-gap: 10vh;
    padding: 15vh 8vw;
}

.sponsor-container {
    text-align: center;
}

.sponsor-container>p,
#sponsor-head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #333538;
}

#sponsor-card,
.sponsor-card-min,
#sponsor-edu-card {
    margin-top: 10px;
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 20%);
    background: rgb(248 245 255);
    border-radius: 8px;
}

#sponsor-card {
    height: 150px;
}

.sponsor-card-min, 
#sponsor-edu-card{
    height: 10rem;
}

.general-sponsors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3vw;
    column-gap: 4vh;
    padding: 10vh 6vw;
}

.general-sponsors {
    text-align: center;
}

.education-partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2vw;
    column-gap: 8vh;
    padding: 10vh 11vw;
    text-align: center;
}
/** ***************** FAQs ****************** */

.faqs-section {
    padding-top: 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 20px;
}

.faqs-section-heading>h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    color: #1F2631;
}

.hr-line {
    width: 70%;
    margin: auto;
    margin-left: 11vw;
}
/* Style the buttons that are used to open and close the faq-dropdown body */

.faq-dropdown {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    width: 70%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    margin-left: 11vw;
    font-size: 18px;
    line-height: 2;
}

.faq-dropdown-answer p {
    font-size: 16px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.faq-dropdown:hover {
    background-color: #F9F9F9;
}
/* Style the faq-dropdown panel. Note: hidden by default */

.faq-dropdown-answer {
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: max-height ease-in-out 300ms 50ms;
    line-height: 1.5;
}

.faq-dropdown-answer p {
    padding: 10px;
    background-color: white;
    margin-bottom: unset;
}

.faq-dropdown-answer.active {
    max-height: 46rem;
}

.faq-dropdown:before {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #777;
    float: right;
    margin-top: 4px;
    margin-left: 5px;
    padding: 1.2px 5px;
    border-radius: 50%;
    border: 1px solid;
}

.faq-dropdown-container .faq-dropdown.active:before {
    content: "\2796";
    border-radius: 50%;
    border: 1px solid;
    /* Unicode character for "minus" sign (-) */
}
/*************footer start *****************/

.footer-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px;
    margin-left: 2%;
    flex-wrap: wrap;
}

.footer-item, .footer-social{
    margin-top: 2%;
    width: 20%;
}

.footer-icon{
    margin-right: 4%;
}

.footer-resources{
    margin-left: -3%;
}

.footer-social{
    margin-left: -2%;
}

.new_footer_area {
    background: #fbfbfd;
}

.new_footer_top {
    /* padding: 120px 0px 270px; */
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

.footer-container {
    background-color: #1F2631;
}

.footer-logo {
    height: 160px;
    /* padding-left: 50px; */
    /* margin-right: 80px; */
}

.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}

.f_list a{
    font-size: 1.5em;
}

.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.btn_get:hover {
    color: #fff;
    /* background: #6754e2; */
    background: linear-gradient(65.7deg, #FC5FD9 9.76%, #A481EF 40.43%, #8D5DF5 87.38%);
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #9a60e0;
    /* background: linear-gradient(65.7deg, #FC5FD9 9.76%, #A481EF 40.43%, #8D5DF5 87.38%); */
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
    list-style: none;
    padding: 0px;
    line-height: 36%;
}

.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    font-size: 24px;
}

.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.f_social_icon {
    width: 356px;
}

.f_social_icon img {
    width: 30px;
    height: 30px;
    margin: -3px;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
}

.new_footer_top .f_social_icon a:hover {
    background: #d9b7eb;
    transition: 1.2s;
    /* color: white; */
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #edeeef;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

.new_footer_top .f_widget.about-widget .f_list li a {
    color: #f8fafe;
    text-decoration: none;
    line-height: 12px;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 266px;
}

@keyframes myfirst {
    0% {
        left: -25%;
    }
}
/*************footer End*****************/
/** ***************** Contact Us ****************** */

.contactus-section {
    background-color: #1f2631;
    padding-top: 10vh;
    position: relative;
    /*  */
    padding-bottom: 8vh;
}

.contact-heading {
    background: linear-gradient(65.7deg, #FC5FD9 9.76%, #A481EF 40.43%, #8D5DF5 87.38%);
    ;
    padding-left: 4vw;
    z-index: 2;
    position: relative;
}

.contact-heading>span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    color: #1F2631;
}

.fa-globe,
.fa-envelope,
.fa-phone {
    padding: 16% 0;
    color: #eb8dee;
    font-size: 2vw !important;
}

.contact-container {
    margin-top: 8vh;
    margin-left: 3vw;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
    position: relative;
    z-index: 2;
    /* To prevent image overlapping on text */
}

.contact-container>* {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

.contact-link-style {
    color: white;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 43px;
    background-image: linear-gradient(to right, #ff5bdb, #aa6df8, #8c5cf3 50%, white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition: all 0.3s ease-in-out; */
}

.contact-link-style:hover {
    background-position: 0;
}

.contact-link-style:hover::before {
    width: 100%;
}

.contact-icon-circle {
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.2vw;
    border-color: rgb(255, 255, 255);
    background-color: transparent;
    text-align: center;
}

#contact-man-img {
    position: absolute;
    top: 12vh;
    right: 1vw;
    z-index: 3;
    width: 25vw;
    height: auto;
}

#contact-email a {
    text-decoration: none;
    line-height: 3rem;
}

#contact-weblink a {
    text-decoration: none;
    line-height: 3rem;
}

#contact-phone a {
    text-decoration: none;
    line-height: 3rem;
}

#contact-top-right-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 25vw;
    height: auto;
}
/* #contact-bottom-mid-img {
position: absolute;
bottom: 0;
width: 25vw;
height: auto;
} */

#contact-top-left-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 25vw;
    height: auto;
}

.swiper {
    margin-top: 40px;
    height: 650px;
    width: 100%;
}

.swiper .swiper-pagination-bullet {
    width: 15px;
    height: 12px;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
    background: #B492FF;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: #fff;
}

.swiper .swiper-slide {
    transform: scale(1.2);
}

.swiper .swiper-slide.swiper-slide-active,
.swiper .swiper-slide.swiper-slide-active img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.4;
    transition: .4s ease all;
    transform: scale(.7);
}

.swiper .swiper-scrollbar {
    display: none;
}

/***  scroll to top button  *****/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 12px 20px;
    color: white;
    border-radius: 50%;
    background:linear-gradient(65.7deg, #FC5FD9 9.76%, #A481EF 40.43%, #8D5DF5 87.38%);
    font-size: 20px;
}


 /* ************************* Media Query  ************************************** */

   @media screen and (min-width:1500px)
    {
    .img-section
        {
          float: right;
          width: 73rem;
       }
   }

    @media screen and (max-width:1441px) {
        /* .content .article p {
            font-size: 18px;
        } */
        .img-section img {
            height: 80vh;
        }
    }


    @media screen and (max-width:1341px) {
        .content .article p {
            font-size: 19px;
        }
        .card-img img {
            width: 200px;
            height: 200px;
        }
        .content .article .second p {
            width: 90%;
            margin-bottom: 5%;
        }
    }

    @media screen and (max-width:1227px) {
        .nav-item a{
            font-size: 1.8rem;
        }
        .home_hackCBS>h1 {
            font-size: 150px;
        }
        /* .article {
            width: 105%;
            margin-right: 15px;
        } */
        .img-section {
            width: 42%;
        }
        .img-section img {
            height: 66vh;
        }
        .prize-heading {
            width: 260px;
            margin-bottom: 30px;
        }
        .prize-heading img {
            width: 120px;
            height: 130px;
            margin-left: 0px;
        }
        .prize-heading p {
            height: 32px;
        }
        .swiper {
            height: 580px;
            margin-top: 0;
        }
    }

    @media screen and (max-width:1145px){
        .nav-item a{
            font-size: 1.6rem;
        }
        .content .article p {
            font-size: 16px;
        }
        .swiper {
            height: 520px;
            margin-top: unset;
        }
    }

    @media screen and (max-width:1041px) {
        .nav-item a{
            font-size: 1.45rem;
        }
        .swiper {
            height: 500px;
            margin-top: unset;
        }

        .content .article .second p {
            width: 97%;
            margin-bottom: 0;
        }
        .card-img img {
            width: 148px;
            height: 148px;
        }
    }
    

    @media screen and (max-width:1039px){
        .home_hackCBS>h1 {
            line-height: 190px;
        }
        .home_hackCBS>h1>span{
            font-size: 17rem;
            padding-left: 1rem;
        }
        .about-us-section-content-container {
            flex-direction: column;
            /* row-gap: 20rem; */
        }
        .content {
            width: 100%;
            margin-bottom:1rem ;
            height: 44vh;
        }
        .img-section {
            width: 100%;
            margin: 0px;
            padding: 0px;
            margin-bottom: 10rem;
            margin-top: 4rem;
        }
        .about-us-icons {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    
        .article {
            padding: 8px 0px;
        }
        .second{
            justify-content: space-between;
        }

        .general-sponsors {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media screen and (max-width: 1000px){

        .card_title{
            font-size: 1.7rem;
        }
    }
    
    @media screen and (max-width:924px) {
        .prize-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .schedule{
            display: block;
        }
        .schedule-laptop{
            display: none;
        }
    }

    @media screen and (max-width: 900px) {
        .home_hackCBS>h1 {
            font-size: 16vw;
            line-height: 110px;
        }
        .home_hackCBS>h1>span{
            font-size: 18vw;
            padding-left: 0.6rem;
        }
        .home_date-container p{
            font-size: 2.5rem;
        }
        .img-section img {
            height: 46vh;
            width: 31.3vh;
        }
        .f_list a{
            font-size: 1.5em;
        }

        .f_size_18{
            margin-top: 5%;
        }

        .swiper {
            margin-top: unset;
            height: 400px;
        }
    }

    @media screen and (max-width: 998px){
        .speaker-links{
            height: 45px;
        }
    }

    
    @media screen and (max-width:876px) {
        .card-section {
            margin-top: 40px;
        }
        .card-img img {
            width: 126px;
            height: 126px;
        }
    }
  

    @media screen and (max-width:888px) {
        .content {
            width: 100%;
            padding-left: 45px;
        }
        .article{
            margin-left: 25px;
        }
        .article {
            position: absolute;
            width: 82%;
        }
        .date {
            margin-left: 0%;
        }
        .venue{
            margin-bottom: 2rem;
        }
        .content .article .second p {
            /* width: 204%; */
            white-space: nowrap;
            margin-bottom: 0%;
            margin-left: 5rem;
        }
        .footer-item{
            margin-top: -2%;
        }
        .footer-social{
            width: 100%;
            margin: -5% auto 2% auto;
        }
    }

    @media screen and (max-width:768px) {
        .navbar>.container-fluid{
            justify-content: flex-end;
        }

        .navbar-toggler{
            margin-left: auto;
            margin-right: 12vw;
        }

        .home_date-container .fa-calendar{
            font-size: 4vw;
        }

        .about-us-icons{
            margin-top: 12vh;
        }

        #workshop-card-text>h6 {
            margin-bottom: 0;
        }

        .general-sponsors {
            grid-template-columns: repeat(2, 1fr);
        }

        .major-sponsors{
            grid-template-columns: repeat(1,1fr);
            padding: 11vh 12vw;
        }

        .cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding: 50px 0px 50px;
            margin: 0px;
            flex-direction: column;
            padding-left: 10px;
        }
        .social {
            text-align: center;
        }
        .social_1 {
            text-align: -webkit-center;
        }
        .footer-logo {
            padding-left: 0px;
        }
        .prize-cards {
            width: 88%;
            margin-left: 8%;
        }
        #mlh-logo {
            margin-left: 4rem;
        }

        .education-partners {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width:734px) {
        .venue {
            margin-left: 0;
        }
        /* .img-section{
            margin-top: 18rem !important;
        } */
    }

    @media screen and (max-width: 680px){
        .card-img img {
            width: 110px;
            height: 110px;
        }

        .footer-row{
            flex-direction: column;
        }
        .footer-item, .footer-icon{
            margin: 0 auto 0 auto;
            text-align: center;
            width: 100%;
        }
        .f_size_18{
            margin-top: 10%;
        }

        .major-sponsors{
            grid-template-columns: repeat(1,1fr);
            row-gap: 10vw;
            padding: 11vh 12vw;
        }
  
        #contact-man-img{
            display: none;
        }
        #contact-weblink a {
            font-size: 2rem;
        }
        #contact-email a {
            font-size: 2rem;
        }

        #contact-phone a{
            /* line-height: 5rem; */
            font-size: 2rem;
        }

        .contact-icon-circle {
            width: 8.3vw;
            height: 8.3vw;
        }
        /* .contact-container {
            row-gap: 4.5vw;
        } */
        .fa-globe, .fa-envelope, .fa-phone {
            font-size: 5vw !important;
        }
    }

    @media screen and (max-width:756px){
        .about-us-section-content-container {
            flex-direction: column;
            row-gap: 5rem;
        }
    }

    @media screen and (max-width:624px) {
        .home_hackCBS>h1 {
            font-size: 15vw;
            line-height: 110px;
        }
        .home_hackCBS>h1>span{
            font-size: 17vw;
        }
     .img-section {
        margin-top: 29rem !important;
      } 
    }

    @media screen and (max-width:600px) {
        .workshop-card {
            padding-top: 10px;
            width: 30vw;
            height: 40vw;
            border-radius: 1.2vw;
        }
        #workshop-card-img img {
            width: 27vw;
            height: 15vw;
        }
        .workshop-card-container {
            grid-template-columns: auto auto;
            row-gap: 4%;
        }

        #workshop-card-title>h3 {
            font-weight: 500;
            font-size: 1.2vw;
            line-height: 1vw;
            margin-bottom: 0;
        }

        #workshop-card-text>h6 {
            margin-bottom: 0;
        }

        .swiper {
            height: 300px !important;
        }
        .swiper .swiper-button-next,
        .swiper .swiper-button-prev {
            display: none;
        }

        .new_footer_top .f-title{
            margin-bottom: 20px;
        }
    }


    @media screen and (max-width:640px) {
        .home_button-container{
            flex-direction: column;
            justify-content: center;
            align-items: initial;
        }

        .button-register{
            margin-right: 0;
            margin-bottom: 1rem;
        }
        .card_title {
            font-size: 19px;
        }
        .card-img img {
            width: 133px;
            height: 128px;
        }
        #About-heading>h2 {
            font-size: 40px;
        }
        .content {
            padding-top: 5px;
        }
        .article {
            padding: 12px 10px !important;
        }
        .content .article p {
            font-size: 16px;
            /* padding-right: 10px; */
            /* margin-right: 66px; */
        }

        .prize-cards {
            display: grid;
            grid-template-columns: 1fr !important;
            margin-left: 5rem !important;
        }
        .parallax {
            min-height: unset;
        }
    }
    
    @media screen and (max-width:624px) {
     .img-section {
        margin-top: 12rem !important;
      } 
    }
    
    @media screen and (max-width: 545px) {
        .home_date-container p {
            font-size: 2rem;
            margin-top: 10rem;
        }
        .home_hackCBS .text{
            font-size: 7vw;
            padding: 0;
            margin: -2rem auto 0 auto;
            padding-left: auto;
        }
        .button-discord{
            font-size: 1.2rem;
        }
        .button-register{
            font-size: 1.2rem;
        }
        .about-heading>h2{
            font-size: 7vw;
        }
        .glimpse-heading>h2{
            font-size: 7vw;
        }
        .article {
            /* width: 128%; */
            margin-left: 6px;
        }
        .f_list a{
            font-size: 1.5em;
        }

        .about-us-icons {
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;
            grid-template-rows: repeat(3, auto);
            margin-top: 0;
        }

        .education-partners {
            padding: 5vw 6vw;
        }
    }

    @media screen and (max-width : 519px) {
        .navbar-toggler{
            margin-right: 16vw;
        }
        .img-section {
            margin-top:  22rem !important;
        }
        .sponsor-card-min, 
        #sponsor-edu-card{
            height: 6rem;
        }
    }

    @media screen and (max-width : 481px){
        .speaker-links {
            height: 55px;
        }
    }

    @media screen and (max-width: 476px) {
        .home_hackCBS>h1 {
            font-size: 15vw;
            line-height: 100px;
        }

        .home_hackCBS>h1>span{
            font-size: 17vw;
        }

        .home_date-container .fa-calendar{
            font-size: 5vw;
        }

        .content .article p {
            font-size: 14px;
           }
        .img-section {
            margin-top: 9rem !important;
        }
        .second h2,
        p {
            font-size: 1.5rem;
        }
        .cards {
            row-gap: 2rem;
        }
        .card{
            width: 95%;
            height: 100%;
        }
        .card-img img{
            margin: 30px auto 10px auto;
        }
        .card_title {
            font-size: 1.5rem !important;
        }
        .speaker-post{
            margin-bottom: 0;
        }
        .swiper {
            height: 300px !important;
        }
        .contact-heading{
            height: 3rem;
            padding:4vw auto;
        }

        .f_size_18{
            margin-top: 6%;
        }
        .footer-social{
            margin-top: 2%;
        }
    }

    @media screen and (max-width: 445px) {
        .about-us-icons{
            margin-top: 20vh;
        }
    }

    @media screen and (max-width: 425px) {
        .container-themes .themes-card .theme-box {
            width: 15rem;
            height: 15rem;
        }
        .container-themes .themes-card .theme-box .theme-content {
            width: 15rem;
        }
        .about-us-icons{
            margin-top: 4vh;
        }
        .second {
            width: 200px;
        }
        .h2,
        h2 {
            font-size: 20px;
        }

        .f_list a{
            font-size: 1.5em;
        }

        .f_size_18{
            margin-top: 10%;
        }

        .row {
            display: flex;
            justify-content: space-between;
            padding: 50px 0px 50px;
            margin: 0px;
            flex-direction: column;
            padding-left: 10px;
        }
        .social {
            text-align: center;
        }
        .social_1 {
            text-align: center;
        }
        .social_2 {
            text-align: center;
        }
        .footer-logo {
            padding-left: 0px;
        }
        .new_footer_top .f_social_icon a {
            width: 33px;
            height: 38px;
        }
        .prize-img img {
            width: 147px;
            height: 141px;
        }
        .f_social_icon{
            width: 100%;
        }
    }


    @media screen and (max-width:427px){
          .second{
            display: block !important;
          }

          .about-us-section-content-container {
            flex-direction: column;
            row-gap: 20rem;
        }
    }

    @media screen and (max-width:380px){
        .navbar-toggler{
            margin-right: 20vw;
        }
        .home_container{
            padding-top: 12rem;
        }
        .about-us-icons{
            margin-top: 10vh;
        }
        .img-section {
            margin-top: 14rem !important;
        }
    }


@media screen and (max-width:375px) {

    .workshop-card-container {
        grid-template-columns: auto;
        justify-content: center;
    }

    .workshop-card {
        height: 80vw;
        width: 55vw;
        padding: 10px 2vw 6px 2vw;
        border-radius: 2vw;
    }

    #workshop-card-img img{
        width: 52vw;
        height: 35vw;
    }

    #workshop-card-text{
        margin-bottom: 2vw;
    }

    #workshop-card-title>h3 {
        font-size: 2.5vw;
        padding-top: 10px;
        padding-bottom: 2px;
    }

    #workshop-card-text>h6 {
        font-size: 2vw;
        line-height: 11px;
    }

    #workshop-timing span {
        font-size: 2.1vw;
    }

    #workshop-card-text {
        margin: 1.7vw auto auto 5px;
    }

    .fa-calendar, .fa-clock{
        font-size: 2.2vw;
    }

    #workshop-card-text {
        margin: 5px auto auto 5px;
    }

    #workshop-card-button>span{
        font-size: 2.7vw;
    }
}