.section-dark {
    background-color: #1B262C;
}

.themes {
    font-family: "Poppins", sans-serif;
    padding-bottom: 10%;
}

.container-themes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 8%;
    row-gap: 4rem;
    padding: 0 5%;
}

.container-themes .themes-card {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
}

.container-themes .themes-card .theme-box {
    width: 30rem;
    height: 30rem;
    background: linear-gradient(rgba(240, 233, 255, 1) 22%, rgb(148 128 255) 100%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}


.container-themes .themes-card:hover .theme-box {
    transform: translateY(-25px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.container-themes .themes-card .theme-box .theme-content {
    padding: 20px;
    text-align: center;
    background-color: transparent;
    width: 25rem;
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.container-themes .themes-card .theme-box .theme-content h4 {
    /* visibility: hidden;   */
    color: #F8F5FF;
    font-size: 2.5rem;
}

.container-themes .themes-card .theme-box .theme-content img {
    width: 80%;
    margin-bottom:10%;
    background-color: transparent;
}

.container-themes .themes-card:hover .theme-box .theme-content img {
    padding: 5px;
    background-color: transparent;
    margin-top: 25%;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.49, 0, 0.27, 0.97)
}

.container-themes .themes-card:hover .theme-box .theme-content h4 {
    visibility: hidden;
}

@media screen and (max-width: 1024px){
    .container-themes{
        padding: 0;
    }
}
@media screen and (max-width: 980px) {
    .container-themes .themes-card{
        width: 25rem;
        height: 25rem;
    }
    .container-themes .themes-card .theme-box{
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (max-width: 768px){
    .col1{
        float:left ;
        width: 50%;
        margin-left: -40px;
    }
    .col2{
        
        float:right ;
        width: 50%;
        margin-left: -40px;
    }
    .container-themes .themes-card{
        width: 20rem;
        height: 20rem;
    }
    .container-themes .themes-card .theme-box{
        width: 20rem;
        height: 20rem;
    }
    .container-themes .themes-card .theme-box .theme-content {
        width: 20rem;
    }
}

@media screen and (max-width: 625px){
    .container-themes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 520px){
    .themes{
        padding-bottom: 35%;
    }
    .container-themes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 12rem;
    }
    .container-themes .themes-card {
        position: relative;
        width: 25rem;
        height: 16.875rem;
    }
    .container-themes .themes-card .theme-box {
        width: 25rem;
        height: 25rem;
    }
    .container-themes .themes-card .theme-box .theme-content {
        width: 20rem;
    }
}