.section-dark {
    background-color: #1B262C;
}

.themes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 29vh;
    font-family: "Poppins", sans-serif;
}

.container-themes {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1830px;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px){
.col1{
    
    float:left ;
    width: 50%;
    margin-left: -40px;
}
.col2{
    
    float:right ;
    width: 50%;
    margin-left: -40px;
}}
.container-themes .themes-card {
    position: relative;
    width: 430px;
    height: 200px;
    border-radius: 15px;
    margin: 15px;
}
@media screen and (max-width: 500px){
.container-themes .themes-card .theme-box{
    width: 100px;
    height: 100px;
}
}
.container-themes .themes-card .theme-box {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: linear-gradient(rgba(240, 233, 255, 1) 22%, rgb(148 128 255) 100%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}
@media screen and (max-width: 425px) {
    .container-themes .themes-card .theme-box {
        
        width: 15rem;
        height: 15rem;
    }
    .container-themes .themes-card .theme-box .theme-content {
       
        width: 15rem;
    }
    .container-themes .themes-card {
        margin-left: -4.4rem;
    }
  }
.container-themes .themes-card:hover .theme-box {
    transform: translateY(-25px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.container-themes .themes-card .theme-box .theme-content {
    padding: 20px;
    text-align: center;
    background-color: transparent;
    width: 15rem;
}

.container-themes .themes-card .theme-box .theme-content h4 {
    visibility: hidden;
}

.container-themes .themes-card .theme-box .theme-content img {
    width: 70%;
    margin-top:30%;
    background-color: transparent;
}

.container-themes .themes-card:hover .theme-box .theme-content img {
    padding: 5px;
    background-color: transparent;
    width: 75%;
}

.container-themes .themes-card:hover .theme-box .theme-content h4 {
    color: #fff;
    visibility: visible;
    background-color: transparent;
}

.container-themes .themes-card .theme-box .theme-content {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

@media screen and (max-width:1385px) {
    .container-themes .themes-card {
        position: relative;
        width: 320px;
    }
}

@media screen and (max-width:1050px) {
    .container-themes .themes-card {
        position: relative;
        width: 268px;
    }
}

@media screen and (max-width: 426px) {
    .container-themes .themes-card {
        position: relative;
        width: 25rem;
        height: 16.875rem;
    }
}
@media screen and (max-width: 767px) {
    .container-themes .themes-card .theme-box {
        
        width: 20rem;
        height: 20rem;
    }
    .container-themes .themes-card .theme-box .theme-content {
       
        width: 20rem;
    }
  }
@media screen and (max-width: 601px){
.container-themes .themes-card {
    position: relative;
    width: 230px;
}}
@media screen and (max-width: 520px){
    .container-themes .themes-card {
        position: relative;
        width: 200px;
    }}
 @media screen and (max-width: 425px){
    .container-themes .themes-card .theme-box {
        width: 14rem;
        height: 14rem;
    }
  
}